<div class="footer-container">
  <ul>
    <a href="">
      <li>Sobre</li>
    </a>
    <a href="">
      <li>Delivery</li>
    </a>
    <a href="">
      <li>Encomendas</li>
    </a>
    <a href="">
      <li>Privacidade</li>
    </a>
    <a href="">
      <li>Contato</li>
    </a>
    <a href="">
      <li>Oportunidades</li>
    </a>
  </ul>
  <div class="copy">
    <p>© 2024 Foodfy - Todos os direitos reservados. <br>
    <a href="https://inaldosilva.netlify.app">by Inaldo Silva</a></p>
  </div>
</div>

