<header class="cabecalho">
  <div class="menu">
    <div class="logo">
      <a href=""><img src="https://iili.io/Jc2CQtV.png" alt=""></a>
    </div>

    <ul class="lista-menu">
      <li><a href="#">Início</a></li>
      <li><a href="#">Cardápio</a></li>
      <li><a href="#">Bebidas</a></li>
      <li><a href="#">Sobremesas</a></li>
        <a href="#"><img src="https://www.svgrepo.com/show/533043/cart-shopping.svg" width="25px"></a>
        <a href=""><img src="https://www.svgrepo.com/show/511194/user-circle.svg" alt="" width="25px"></a>
    </ul>
  </div>
</header>
